      <ul id="links">
        <li>  
          <a href="https://github.com/Daigor">
            <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" height="50" width="50">
          </a>
        </li>
        <li>
          <a href= "https://www.linkedin.com/in/allan-trinh-73238445">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Linkedin_icon.svg/2000px-Linkedin_icon.svg.png" height="50" width="50">
          </a>
        </li>
      </ul>