html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background: black;
   padding:20px;
   margin-bottom: 40px;
}
#body {
   padding:10px;
   padding-bottom:50px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:50px;   /* Height of the footer */
   background:#6cf;
}

header{
  margin-right: 15%;
  margin-left: 15%;
  display: block;
  height:80px;
}
#header ul{
  float: right;
  display:block;
  padding-right: 200px;
}

#header li{
  display: inline-block;
  text-transform: uppercase;
  font-family: sans-serif;
  padding-right: 10px;
}

#header li a{
  color: white;
  text-decoration: none;
 
}

.home {
  display: block;
  float: left;
  padding-left: 225px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
}

#body h1 {
  display: block;
  font-size: 4.6rem;
  color: black;
  text-align: center;
  padding: 20px 20px;
  font-family: Arial;
}
body{
  background-color: #ddd;
}
.content {
  display: block;
  padding: 50px 50px;
  width: 50%;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10%;
  margin-right: 10%;
  margin-left: 21%;
}

.content h3{
  font-family: Arial;
  padding: 10px;
  padding-bottom: 50px;
  text-align: center;
}

.content p {
  line-height: 1.8;
  font-size: 1.0rem;
  vertical-align: baseline;
  font-family: Helvetica;
  -webkit-animation-duration: 3s;
}

#links{
  text-align: center;
}

#links li{
  display: inline;
}


#header li a:hover {
  color: red;
  animation: pulse 1s ease;
}

#header .home:hover{
  color: red;
  animation: pulse 1s ease;
}
#circular {
  text-align: center;
  padding-bottom: 20px;
}
#circular img{

  border-radius:50% 50% 50% 50%;  


  width:110px;


  height:150px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}