html, body{
  padding: 0;
  margin: 0;
  height: 100%;
}

body{
  background-color: #ddd;
}
h1 {
  display: block;
  font-size: 4.6rem;
  color: black;
  text-align: center;
}
header{
  margin-right: 20%;
  margin-left: 15%;

  display: block;
  height:80px;
}

.content {

  display: block;
  padding: 50px 50px;

  position: absolute;
  width: 50%;
/*  min-height: 100%;*/
  background-color: white;
  margin-top: 10px;
  margin-bottom: 25%;
  margin-right: 20%;
  margin-left: 20%;
}
a {
  font-size: 1.2rem;
  color: black;
}
body p {
  display: block;
  font-size: 1.2rem;
  vertical-align: baseline;
  background-color: white;
}

ul{
  float: right;
  display:block;
  margin: 20px 25px;
}
li{
  display: inline-block;
  padding: 5px;
}

.home {
  display: block;
  float:left;
  margin: 25px 25px;
}