---
layout : default
---

<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
  <div class="mdl-card__media mdl-color-text--grey-50">
    <h3>{{page.heading}}</h3>
  </div>
  <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
    <div class="minilogo"></div>
    <div>
      <strong>Allan Trinh</strong>
      <span>{{ page.date | date: '%B %-d, %Y' }}</span>
    </div>
    <div class="section-spacer"></div>
  </div>
  <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
   {{content}}
  </div>
  <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
    <div class="comment mdl-color-text--grey-700">
      <div class="comment__answers">
        <div class="comment">
        </div>
      </div>
    </div>
  </div>
</div>
